.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    gap: var(--space-lg);
}

.form_section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: (--space-lg);
    background-color: var(--clr-light);
    padding: 2rem 0.75rem;
    border-radius: var(--radius-lg);
    border: 1px solid var(--clr-dark-accent);
    box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.1);
}

.section_title {
    font-size: var(--fs-800);
    grid-column: 1 / span all;
    font-weight: 600;
    color: var(--clr-dark);
}

.content_wrapper {
    grid-column: 1 / span all;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; */
    display: grid;
    grid-template-columns: subgrid;
    gap: var(--space-2xl);
}
.field_wrapper {
    width: 100%;
    grid-column: 1 / span all;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-md);
}

.form_field_label {
    font-size: var(--fs-700);
    font-weight: 600;
    color: var(--clr-dark);
}

.input {
    padding: 0.75rem;
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--clr-dark-muted);
    border-radius: var(--radius-lg);
    outline: none;
    font-size: var(--fs-500);
    font-weight: 500;
}

.property_area,
.property_price,
.cities,
.email,
.landline {
    grid-column: 1 / span all;
}

.area_unit,
.price_calulation,
.location,
.mobile {
    grid-column: 1 / span all;
}

@media screen and (min-width: 500px) {
    .form_section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 950px) {
    .form_section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .content_wrapper {
        grid-column: 2 / span 4;
    }
}

@media screen and (min-width: 1200px) {
    .form_section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .content_wrapper {
        grid-column: 3 / span 8;
    }
    .property_area,
    .property_price,
    .cities,
    .email,
    .landline {
        grid-column: 1 / span 4;
    }

    .area_unit,
    .price_calulation,
    .location,
    .mobile {
        grid-column: 5 / span 4;
    }
}
