.layout {
    background-color: var(--clr-light-accent);
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 7rem 3rem 3rem 3rem;
    flex-grow: 1;
    min-height: calc(100vh - 6rem);
    transition:
        margin-left 0.3s ease,
        width 0.3s ease;
    overflow: auto;
    margin-left: calc(300px + 3rem); /* Sidebar width + original left margin */
    border-radius: var(--radius-lg);
}

.fullWidth {
    margin-left: 3rem; /* Only the original left margin when sidebar is hidden */
}

@media screen and (max-width: 1450px) {
    .container {
        margin-left: 3rem; /* Only the original left margin when sidebar is hidden */
    }
}
@media screen and (max-width: 500px) {
    .container {
        margin: 7rem 0.75rem 3rem 0.75rem;
    }
}
